<app-nav></app-nav>
<app-data-card-app>
</app-data-card-app>
<app-data-table-app></app-data-table-app>
<!-- router view go here
<router-outlet></router-outlet>-->

<!-- <app-table-for-district></app-table-for-district> -->

<!-- <app-example-app></app-example-app> -->


<!-- <div class="container">
    <app-cockpit-app></app-cockpit-app>
    <div class="row">
        <div class="col-xs-12"></div>
        <app-server-app *ngFor="let serverElement of serverElements"  [element]="serverElement"
        ></app-server-app>
    </div>
</div>-->


<!-- Legacy form field

<mat-card class="card" style="text-align: center;">
    <br>
    <h3 class="makeStyles-title-10">Unclassified Leads</h3>

    <mat-form-field class="form-element" appearance="legacy">
        <mat-label>Company Name</mat-label>
        <input matInput placeholder="CompanyName" required>
    </mat-form-field>
    <br>
    <mat-form-field class="form-element" appearance="legacy">
        <mat-label>Contact</mat-label>
        <input matInput placeholder="Contact">
    </mat-form-field>
    <br>
    <mat-form-field class="form-element" appearance="legacy">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Email">
    </mat-form-field>
    <br>
    <mat-form-field class="form-element" appearance="legacy">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name">
    </mat-form-field>
    <br>
    <mat-form-field class="form-element" appearance="legacy">
        <mat-label>Notes</mat-label>
        <textarea matInput maxlength="300" placeholder="Notes">
            </textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="form-element" appearance="legacy">
        <mat-label>Material Details</mat-label>
        <textarea matInput maxlength="300" placeholder="Notes">
            </textarea>
        <input type="file" id="fileUpload" name="fileUpload" />
    </mat-form-field>
    <br>
    <div style="margin-right: 275px;padding: 20px;">
        <a aria-disabled="false" href="/" style="color: rgb(0,128,128);"><span class="MuiButton-label">BACK</span></a>&nbsp;&nbsp;&nbsp;
        <button mat-raised-button type="submit" class="button">SUBMIT</button>
    </div>
</mat-card> -->